.appBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: grey;
  color: white;
}

.logo,
.navItem {
  font-size: 24px;
  color: white;
  text-decoration: none;
  padding: 10px;
}

.navItem:not(:last-child) {
  margin-right: 10px;
}
